html,body{
    height: 100%;
    overflow: hidden;
}
#displayBoard{
    height:100%;
    position: relative;
    top: -0%;
    transition: all 0.5s;
    -webkit-transition:all 0.5s;
}
.tpl{
    height: 100%;
    display: block;
}
#page1{
    background:url('../resource/3k.jpg') no-repeat scroll 0 0;
    background-size:auto 100%;
    
}
#page2{
    background:url('../resource/cat.jpg') no-repeat scroll 0 0;
    background-size:auto 100%;
}
#page3{
    background:url('../resource/m.jpg') no-repeat scroll 0 0;
    background-size:auto 100%;
}
