html,body{
    height: 100%;
    overflow: hidden;
    
}
#loading{
    background-color: red;
    height:100%;
}
#page1{
    background:url('../resource/3k.jpg') no-repeat scroll 0 0;
    background-color: rgba(255,0,0,0.5);
    background-size:auto 100%;
}

#page1 .banner{
    width: 8em;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    
}

#page1.currentPage .banner{
    opacity: 1;
    -webkit-transition: all cubic-bezier(0.5, 0, 1, 0.5) 2s;
    transition: all cubic-bezier(0.5, 0, 1, 0.5) 2s;
}
#page1 .banner .title{
    font-size: 56px;
    border-bottom:5px solid black;
    
}
#page1.currentPage .title{
    animation: blink 5s linear 0s 1  forwards; 
    /*-webkit-animation: blink 5s linear 0s 1 forwards; */
}
#page1 .banner .subTitle{
    color: blue;
    font-size: 20px;
    letter-spacing:7px;
    
}


@keyframes lr{
    0%{
        left:0;
        
    }
    100%{
        left:100%;
        
    }
}
@keyframes blink{
    0%{
        text-shadow: 0 0 10px #fff;

    }
    100%{
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff;
        color: white;
    }
}
@-webkit-keyframes blink{
    0%{
        text-shadow: 0 0 10px #fff;

    }
    100%{
        text-shadow: 0 0 12px #ffdd1b,0 0 20px #fff;
        color: white;
    }
}
@-webkit-keyframes lr{
    0%{
        left:0;
        
    }
    100%{
        left:100%;
        
    }
}

#page2{
    background:url('../resource/cat.jpg') no-repeat scroll 0 0;
    background-size:auto 100%;
}

#page2 .banner{
    
    text-align: center;
    color: white;
    
}
#page2.currentPage .banner{
    animation: skew 2s linear 0.5s 1  forwards; 
    transform:skew(230deg,40deg);    
}

@keyframes skew{
    0%{
        transform:skew(230deg,40deg);    
    }
    100%{
        transform:skew(0deg);       
    }
}
#page3{
    background:url('../resource/m.jpg') no-repeat scroll 0 0;
    background-size:auto 100%;
}
